h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin: 10px;
}

.link-container {
	text-align: center;
}

a {
	background: black;
    color: white;
    display: inline-block;
    padding: 10px;
}

#new-book-btn {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
	bottom: -50px;
}

.book-display {
	position: relative;
	width: 30%;
	margin: 0 auto;
}

.book-img {
	width: 100%;
	height: 100%;
}