h1 {
	text-align: center;
}

#new-book-btn {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
	bottom: -50px;
}

.book-display {
	position: relative;
	width: 30%;
	margin: 0 auto;
}

.book-img {
	width: 100%;
	height: 100%;
}